@import "../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset";
@import "../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3";

@import "icomoon";
@import "../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/clearfix";

$heading-bg-color: #08cadd;
$heading-fg-color: #8d8e8e;
$text-color: #333333;
$main-color: #F68D2E;

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

$body-bg-color: #E9E9E9;
body {
	font-size: 62.5%;
	font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  	font-weight: normal;
  	@include font-smoothing;
  	background-color: $body-bg-color;
}

a {
	text-decoration: none;
	color: $text-color;
}

.header {
	width: 100%;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 2;

	.logo {
		display: inline-block;
		padding: .5em 2em;
        width: 5em;
		font-size: 2em;
		font-weight: bold;
	}

	.menu {
		font-size: 2em;
		float: right;
		display: inline-block;

		.menu-item {
			float: left;
            padding: .5em 1em;
			text-transform: capitalize;
            border-right: 1px solid #eaeaea;
            font-weight: lighter;

            &:last-child {
              border: none;
            }
			a {
				font-size: 1em;
				display: inline-block;
				padding: .5em 1.5em;
				color: $heading-fg-color;
				transition: all .2s ease-in-out;
				&:hover {
					color: #08cadd;
				}
			}


		}
	}
}

.hero {
	padding-top: 2em;
	width: 100%;
	min-height: 24em;
	position: relative;
	background-color: $heading-bg-color;
	z-index: 1;

    img{
      margin: 5em auto;
    }
}

.container {
	padding-top: 4em;
	text-align: center;
}

.title-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 7em;
  border-bottom: 1.5px solid #d7d7d7;

  .title {
    position: relative;
    top: -.7em;
    left: -35em;
    font-size: 2em;
    font-weight: bolder;
    color: #a7a7a7;
  }
}



.cards {
	width: 80%;
	margin: 0 auto;
	padding-top: 2em;

	.card {
		float: left;
		width: 25%;
		box-sizing: border-box;

		.detail {
			@include box-shadow(0 0 2px $body-bg-color);
			@include border-radius(1% 1% 1% 1%);
			background-color: white;
			padding: 1.5em;
			margin: 1em;
			box-sizing: border-box;

			overflow: hidden;

			.eye {
				overflow: hidden;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					top:0;
					left:0;
					bottom: 0;
					right:0;
					opacity: .4;
                    color: #08cadd;
				}

				img {
					width: 100%;
					margin: 0 auto;
				}

                .introduction {
                  position: absolute;
                  top: 2em;
                  left: .5em;
                  opacity: 0;
                  text-align: left;
                  line-height: 2.5em;

                  font-size: 1.5em;

                }

                &:hover {
                  img {
                    opacity: .1;
                    transition: all .5s ease-in-out;
                  }

                  .introduction {
                    opacity: 1;
                    transition: all .5s ease-in-out;
                  }
                }
            }


			.desc {
				text-align: left;
				margin-top: 1em;
				position: relative;

				h2 {
					font-size: 2em;
					padding: 1em 0 .5em 0;
				}
			}

            .tool-bar {
              text-align: left;
              margin-top: 1em;
              position: relative;

              .like {
                position: absolute;
                bottom: 0;
                right:4em;
                font-size: 2em;
                color: $heading-fg-color;

                &:hover {
                  color: #08cadd;
                }
              }
              .like-number {
                position: absolute;
                bottom: 0;
                right:3.7em;
                font-size: 1.5em;
                font-weight: bolder;
                color: $heading-fg-color;
              }

              .activities {
                position: absolute;
                bottom: 0;
                right:1em;
                font-size: 2em;
                color: $heading-fg-color;

                &:hover {
                  color: #08cadd;
                }
              }

              .activities-number {
                position: absolute;
                bottom: 0;
                right:0.5em;
                font-size: 1.5em;
                font-weight: bolder;
                color: $heading-fg-color;
              }
            }
		}
	}

	@include clearfix;
}
