@charset "UTF-8";
/* line 5, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/opt/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?g5fi7f");
  src: url("../fonts/icomoon.eot?#iefixg5fi7f") format("embedded-opentype"), url("../fonts/icomoon.woff?g5fi7f") format("woff"), url("../fonts/icomoon.ttf?g5fi7f") format("truetype"), url("../fonts/icomoon.svg?g5fi7f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-broadcast:before {
  content: "\e630";
}

/* line 30, ../sass/icomoon.scss */
.icon-zoom-out:before {
  content: "\e62b";
}

/* line 34, ../sass/icomoon.scss */
.icon-zoom-in:before {
  content: "\e62c";
}

/* line 38, ../sass/icomoon.scss */
.icon-open:before {
  content: "\e62a";
}

/* line 42, ../sass/icomoon.scss */
.icon-microphone-slash:before {
  content: "\e62e";
}

/* line 46, ../sass/icomoon.scss */
.icon-microphone:before {
  content: "\e62f";
}

/* line 50, ../sass/icomoon.scss */
.icon-circle-o-notch:before {
  content: "\e625";
}

/* line 54, ../sass/icomoon.scss */
.icon-google-plus:before {
  content: "\e601";
}

/* line 58, ../sass/icomoon.scss */
.icon-email:before {
  content: "\e602";
}

/* line 62, ../sass/icomoon.scss */
.icon-github:before {
  content: "\e603";
}

/* line 66, ../sass/icomoon.scss */
.icon-sina-weibo:before {
  content: "\e604";
}

/* line 70, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e611";
}

/* line 74, ../sass/icomoon.scss */
.icon-quill:before {
  content: "\e61d";
}

/* line 78, ../sass/icomoon.scss */
.icon-books:before {
  content: "\e623";
}

/* line 82, ../sass/icomoon.scss */
.icon-tag:before {
  content: "\e612";
}

/* line 86, ../sass/icomoon.scss */
.icon-address-book:before {
  content: "\e613";
}

/* line 90, ../sass/icomoon.scss */
.icon-bell:before {
  content: "\e61e";
}

/* line 94, ../sass/icomoon.scss */
.icon-mobile:before {
  content: "\e606";
}

/* line 98, ../sass/icomoon.scss */
.icon-redo:before {
  content: "\e61f";
}

/* line 102, ../sass/icomoon.scss */
.icon-user:before {
  content: "\e61c";
}

/* line 106, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e607";
}

/* line 110, ../sass/icomoon.scss */
.icon-search:before {
  content: "\e620";
}

/* line 114, ../sass/icomoon.scss */
.icon-wrench:before {
  content: "\e624";
}

/* line 118, ../sass/icomoon.scss */
.icon-list:before {
  content: "\e614";
}

/* line 122, ../sass/icomoon.scss */
.icon-flag:before {
  content: "\e608";
}

/* line 126, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e615";
}

/* line 130, ../sass/icomoon.scss */
.icon-thumbs-up:before {
  content: "\e616";
}

/* line 134, ../sass/icomoon.scss */
.icon-close:before {
  content: "\e60e";
}

/* line 138, ../sass/icomoon.scss */
.icon-minus:before {
  content: "\e60f";
}

/* line 142, ../sass/icomoon.scss */
.icon-plus:before {
  content: "\e610";
}

/* line 146, ../sass/icomoon.scss */
.icon-loop:before {
  content: "\e617";
}

/* line 150, ../sass/icomoon.scss */
.icon-arrow-up:before {
  content: "\e626";
}

/* line 154, ../sass/icomoon.scss */
.icon-arrow-down:before {
  content: "\e627";
}

/* line 158, ../sass/icomoon.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 162, ../sass/icomoon.scss */
.icon-twitter:before {
  content: "\e618";
}

/* line 166, ../sass/icomoon.scss */
.icon-skype:before {
  content: "\e600";
}

/* line 170, ../sass/icomoon.scss */
.icon-maximize:before {
  content: "\e621";
}

/* line 174, ../sass/icomoon.scss */
.icon-star:before {
  content: "\e609";
}

/* line 178, ../sass/icomoon.scss */
.icon-video:before {
  content: "\e60a";
}

/* line 182, ../sass/icomoon.scss */
.icon-settings:before {
  content: "\e60b";
}

/* line 186, ../sass/icomoon.scss */
.icon-lock:before {
  content: "\e60c";
}

/* line 190, ../sass/icomoon.scss */
.icon-world:before {
  content: "\e60d";
}

/* line 194, ../sass/icomoon.scss */
.icon-arrow-up2:before {
  content: "\e629";
}

/* line 198, ../sass/icomoon.scss */
.icon-ellipsis:before {
  content: "\e622";
}

/* line 202, ../sass/icomoon.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 206, ../sass/icomoon.scss */
.icon-min:before {
  content: "\e61a";
}

/* line 210, ../sass/icomoon.scss */
.icon-max:before {
  content: "\e61b";
}

/* line 214, ../sass/icomoon.scss */
.icon-flow-tree:before {
  content: "\e62d";
}

/* line 218, ../sass/icomoon.scss */
.icon-arrow-down2:before {
  content: "\e628";
}

/* line 222, ../sass/icomoon.scss */
.icon-arrow-up2:before {
  content: "\e629";
}

/* line 226, ../sass/icomoon.scss */
.icon-ellipsis:before {
  content: "\e622";
}

/* line 39, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9E9E9;
}

/* line 47, ../sass/style.scss */
a {
  text-decoration: none;
  color: #333333;
}

/* line 52, ../sass/style.scss */
.header {
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 2;
}
/* line 58, ../sass/style.scss */
.header .logo {
  display: inline-block;
  padding: .5em 2em;
  width: 5em;
  font-size: 2em;
  font-weight: bold;
}
/* line 66, ../sass/style.scss */
.header .menu {
  font-size: 2em;
  float: right;
  display: inline-block;
}
/* line 71, ../sass/style.scss */
.header .menu .menu-item {
  float: left;
  padding: .5em 1em;
  text-transform: capitalize;
  border-right: 1px solid #eaeaea;
  font-weight: lighter;
}
/* line 78, ../sass/style.scss */
.header .menu .menu-item:last-child {
  border: none;
}
/* line 81, ../sass/style.scss */
.header .menu .menu-item a {
  font-size: 1em;
  display: inline-block;
  padding: .5em 1.5em;
  color: #8d8e8e;
  transition: all .2s ease-in-out;
}
/* line 87, ../sass/style.scss */
.header .menu .menu-item a:hover {
  color: #08cadd;
}

/* line 97, ../sass/style.scss */
.hero {
  padding-top: 2em;
  width: 100%;
  min-height: 24em;
  position: relative;
  background-color: #08cadd;
  z-index: 1;
}
/* line 105, ../sass/style.scss */
.hero img {
  margin: 5em auto;
}

/* line 110, ../sass/style.scss */
.container {
  padding-top: 4em;
  text-align: center;
}

/* line 115, ../sass/style.scss */
.title-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 7em;
  border-bottom: 1.5px solid #d7d7d7;
}
/* line 121, ../sass/style.scss */
.title-container .title {
  position: relative;
  top: -.7em;
  left: -35em;
  font-size: 2em;
  font-weight: bolder;
  color: #a7a7a7;
}

/* line 133, ../sass/style.scss */
.cards {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  overflow: hidden;
  *zoom: 1;
}
/* line 138, ../sass/style.scss */
.cards .card {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
/* line 143, ../sass/style.scss */
.cards .card .detail {
  -moz-box-shadow: 0 0 2px #E9E9E9;
  -webkit-box-shadow: 0 0 2px #E9E9E9;
  box-shadow: 0 0 2px #E9E9E9;
  -moz-border-radius: 1% 1% 1% 1%;
  -webkit-border-radius: 1%;
  border-radius: 1% 1% 1% 1%;
  background-color: white;
  padding: 1.5em;
  margin: 1em;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 153, ../sass/style.scss */
.cards .card .detail .eye {
  overflow: hidden;
  position: relative;
}
/* line 157, ../sass/style.scss */
.cards .card .detail .eye:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .4;
}
/* line 167, ../sass/style.scss */
.cards .card .detail .eye img {
  width: 100%;
  margin: 0 auto;
}
/* line 173, ../sass/style.scss */
.cards .card .detail .desc {
  text-align: left;
  margin-top: 1em;
  position: relative;
}
/* line 178, ../sass/style.scss */
.cards .card .detail .desc h2 {
  font-size: 2em;
  padding: 1em 0 .5em 0;
}
/* line 183, ../sass/style.scss */
.cards .card .detail .desc a {
  display: inline-block;
  padding-top: 1em;
}
/* line 188, ../sass/style.scss */
.cards .card .detail .desc .like {
  position: absolute;
  bottom: 0;
  right: 3em;
  font-size: 2em;
  color: #8d8e8e;
}
/* line 195, ../sass/style.scss */
.cards .card .detail .desc .like:hover {
  color: #08cadd;
}
/* line 200, ../sass/style.scss */
.cards .card .detail .desc .activities {
  position: absolute;
  bottom: 0;
  right: 1em;
  font-size: 2em;
  color: #8d8e8e;
}
/* line 207, ../sass/style.scss */
.cards .card .detail .desc .activities:hover {
  color: #08cadd;
}
